<div>
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h1>Workout {{vm.workout.display}}</h1>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12 well">
            <button ng-if="!vm.addingExercise" ng-click="vm.addExercise()" class="btn btn-success">Add Exercise</button>
            <div class="exerciseContainer">
                <fg-exercise ng-if="vm.addingExercise" class="exercise" exercises="vm.workout.exercises" closecallback="vm.addingExercise"></fg-exercise>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
            <div class="bs-component" ng-if="vm.isbusy">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="exercise in vm.workout.exercises">
        <fg-exercise-details exercise="exercise" exercises="vm.workout.exercises"></fg-exercise-details>
    </div>
    <div ng-if="!vm.isbusy && !vm.addingExercise && vm.workout.exercises.length == 0" class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-warning">
                No exercises have been added yet.
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.isbusy && vm.workout.exercises.length > 0">
        <div class=" col-md-12 well">
            <button ng-click="vm.complete()" class="btn btn-success" ng-disabled="vm.processing">Workout Complete</button>
        </div>
    </div>
</div>